<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="row">
      <div class="col-2 button_space" *ngIf="page > 1">
        <button class="btn btn-success" (click)="getOrders(page - 1)">Previous</button>
      </div>
      <div class="col-2 button_space">
        <button class="btn btn-success"(click)="getOrders(page + 1)">Next</button>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Orders</div>
      <div class="card-block table-responsive">
        <table class="table table-bordered">
          <thead class="thead-inverse">
          <tr>
            <th>Shopify ID</th>
            <th>Name</th>
            <th>Number</th>
            <th>BG ID</th>
            <th>Created</th>
            <th>Rate</th>
            <th>Customer</th>
            <th>Ship to</th>
            <th>Label</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of ordersList;">
            <td>{{order.shopifyOrderId}}</td>
            <td>{{order.orderName}}</td>
            <td>{{order.orderNumber}}</td>
            <td>{{order.orderIdentifier}}</td>
            <td>{{order.created}}</td>
            <td>{{order.shippingRate}}</td>
            <td>{{order.customer}}</td>
            <td>{{order.shipping}}</td>
            <td>
              <a
                href="https://app.borderguru.com/api/orders/label/{{order.shipmentIdentifier}}?apikey={{order.apiKeyBorderGuru}}">
                View
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
