<div [@routerTransition]>
  <app-page-header [heading]="'Stores'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">Stores</div>
        <div class="card-block table-responsive">
          <table class="table table-bordered">
            <thead class="thead-inverse">
            <tr>
              <th>Company</th>
              <th>Name</th>
              <th>Status</th>
              <th>Billing</th>
              <th>Custom Charge</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of storesList;">
              <td>{{store.company}}</td>
              <td>{{store.storeName}}</td>
              <td>{{store.status}}</td>
              <td>
                <p *ngIf="!store.accessToken">Token not exists</p>
                <button class="btn btn-warning" *ngIf="store.accessToken"
                        (click)="store.recurringPaymentId ? cancelBilling(store._id) : createBilling(store._id)">
                  {{ store.recurringPaymentId ? 'Cancel' : 'Create'}}
                </button>
              </td>
              <td>
                <div class="row" *ngIf="store.recurringPaymentId">
                  <div class="col-md-6">
                    <input class="form-control" size="4" type="number" size="5" id="{{store._id}}" value="0">
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-danger" (click)="customCharge(store._id)">Charge</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
