/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-bootstrap.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

html {
  font-size: 14px
}

.help-block {
  color: red;
  font-size: 12px;
}

.button_space {
  padding: 10px 10px 10px 20px;
}

