/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.help-block {
  color: red;
  font-size: 12px;
}

.button_space {
  padding: 10px 10px 10px 20px;
}
