<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button class="btn btn-danger" (click)="refreshProducts()">Reload all products</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">Products</div>
      <div class="card-block table-responsive">
        <div class="button_space">
          <form>
            <div class="row">
              <div class="col-md-1">
                Search:
              </div>
              <div class="col form-group form-inline">
                <input class="form-control ml-2" name="filter" [(ngModel)]="filter" (keyup)="filterList()"/>
              </div>
              <div class="col-md-2">
                <select class="form-control" [(ngModel)]="publishedStatus" name="publishedStatus"
                        (ngModelChange)="filterList()">
                  <option [ngValue]="null">Any</option>
                  <option [ngValue]="true">Published</option>
                  <option [ngValue]="false">Unpublished</option>
                </select>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <input class="form-control" placeholder="From: yyyy-mm-dd"
                         name="startDate" [(ngModel)]="dateFrom" ngbDatepicker #start="ngbDatepicker"
                         (ngModelChange)="filterList()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <input class="form-control" placeholder="To: yyyy-mm-dd"
                         name="endDate" [(ngModel)]="dateTo" ngbDatepicker #end="ngbDatepicker"
                         (ngModelChange)="filterList()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
              </div>
            </div>
          </form>
        </div>
        <table class="table table-striped">
          <thead class="thead-inverse">
          <tr>
            <th scope="col" sortable="productId" (sort)="onSort($event)" style="cursor: pointer;">ID</th>
            <th scope="col" sortable="sku" (sort)="onSort($event)" style="cursor: pointer;">SKU</th>
            <th>Description</th>
            <th scope="col" sortable="countryOfManufacture" (sort)="onSort($event)" style="cursor: pointer;">Country
            </th>
            <th>HS Code</th>
            <th scope="col" sortable="categoryName" (sort)="onSort($event)" style="cursor: pointer; min-width: 300px">
              Category
            </th>
            <th scope="col" sortable="created" (sort)="onSort($event)" style="cursor: pointer;">Created</th>
            <th colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of _productsList;"
              [categoryList]="categoryList" [product]="product" [edit]="editForm" inline-product></tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                          (pageChange)="changePage($event)">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getPage()">
            <option [ngValue]="25">25 items per page</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
          </select>
        </div>

      </div>
    </div>
  </div>
</div>
