<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>{{ 'Dashboard' }}</span>
    </a>
    <a routerLink="/order" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-first-order"></i>&nbsp;
      <span>{{ 'Orders' }}</span>
    </a>
    <a routerLink="/product" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-product-hunt"></i>&nbsp;
      <span>{{ 'Products' }}</span>
    </a>
    <div class="nested-menu" *ngIf="user.role === 'admin'">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <i class="fa fa-plus"></i>&nbsp;
        <span>{{ 'Admin' }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a routerLink="/user" [routerLinkActive]="['router-link-active']">
              <i class="fa fa-usert"></i>&nbsp;
              <span>{{ 'Users' }}</span>
            </a>
          </li>
          <li>
            <a routerLink="/store" [routerLinkActive]="['router-link-active']">
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ 'Stores' }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ 'Logs' }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
    <span>{{ 'Collapse Sidebar' }}</span>
  </div>
</nav>
